@charset "UTF-8";
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

h1 {
  display: none;
}

.container {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.header {
  padding-top: 71px;
}

.header__nav-list {
  margin: 0 auto;
  display: none;
}

.header__nav-link {
  color: #7D7D7D;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}
.header__nav-link:hover, .header__nav-link:focus {
  color: #626262;
}

/* додав ховери(посиніння при наводці) */
label {
  display: block;
  width: 40px;
  margin-left: auto;
  position: relative;
  z-index: 2;
}
label:hover {
  cursor: pointer;
}

label span,
label span::after,
label span::before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #7D7D7D;
  position: absolute;
  right: 0;
  -webkit-transition: 0.3;
  transition: 0.3;
}

label span::before {
  top: -10;
}

.label span::after {
  top: 10px;
}

input[type=checkbox]:checked ~ .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input[type=checkbox]:checked ~ label span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

input[type=checkbox]:checked ~ label span::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 0;
}

input[type=checkbox]:checked ~ label span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.header__nav-list {
  position: absolute;
  top: 60px;
  height: 150px;
  width: 100%;
  right: 0;
  padding: 20px;
  background-color: lightgrey;
}

@media screen and (min-width: 768px) {
  .header__nav-list {
    width: 555px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.main {
  padding-top: 92px;
  padding-bottom: 66px;
}

.main__title,
.main__card-title {
  color: #626262;
  margin-bottom: 40px;
  margin-top: 32px;
  font-size: 24px;
}

.main__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__card-item {
  width: 100%;
  margin-bottom: 130px;
}

.main__card-img {
  width: 100%;
  margin-bottom: 32px;
}

.main__card-name {
  color: #B4AD9E;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.main__classparagraf {
  color: #626262;
  font-size: 14px;
  line-height: 120%;
}

.main__wrap-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__button {
  background: btn-color;
  color: #626262;
  border: #626262;
  padding: 20px 48px;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .main__card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__card-item {
    width: 350px;
  }
  .button {
    padding: 20px 48px;
  }
}
@media screen and (min-width: 768px) {
  .button {
    padding: 25px 60px;
  }
}/*# sourceMappingURL=main.css.map */