ul{
    list-style: none;
    
}

a{
    text-decoration: none;
}

body{
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

h1{
    display: none;
}
.container{
    width: 480px;
    margin: 0 auto;
    padding: 0 15px;
    
}

@media screen and (min-width: 768px){
    .container{
        width: 768px;
    }
}

@media screen and (min-width: 1200px){
    .container{
        width: 1200px;
    }
}